#{extends 'main.html' /}
#{set title:'Openshift module demo application' /}

<div id="top">
    <p class="category">Openshift module demo application</p>
</div>

<div class="wrapper" id="notfound">
    <div class="wrapped">
        <h2>Welcome to the demo application for <a href="http://www.playframework.org/modules/openshift">openshift module</a>.</h2>
        
        <p>
            Check module documentation at 
            <a href="http://www.playframework.org/modules/openshift">http://www.playframework.org/modules/openshift</a>
        </p>
        
        <hr />        
        <p>
            Running a <b>JRE ${properties.get("java.runtime.version")}</b><br />
            on a <b>${properties.get("os.name")} ${properties.get("os.arch")} ${properties.get("os.version")}.</b><br />
            Today is <b>${new Date().format('yyyy-MM-dd hh:mm:ss')}</b>.<br />
        </p>

        <p>
            Running Play framework <b>${play.Play.version}</b> in <b>${play.mode}</b> mode.<br />
            Framework id: <b>${play.Play.id}</b><br />
            Standalone server: <b>${play.Play.standalonePlayServer}</b>
        </p>

        <p>
            Greetings from <b>${properties.get("user.timezone")}</b>!!!
        </p>

        <hr />
        #{properties playProperties, title: 'Play framework properties from application.conf file' /}


        <hr />
        #{properties properties, title: 'JVM properties' /}

        <hr />        
        #{properties environment, title: 'Environment variables defined in your host' /}

    </div>
</div>




