<!DOCTYPE html>

<html>
    <head>
        <title>#{get 'title' /}</title>
        <meta charset="${_response_encoding}">
        <link rel="stylesheet" media="screen" href="@{'/public/stylesheets/main.css'}">
        #{stylesheet src="main.css" /}
        #{stylesheet src="wiki.css" /}
        #{get 'moreStyles' /}
        <link rel="shortcut icon" type="image/png" href="@{'/public/images/favicon.png'}">
        <script src="@{'/public/javascripts/jquery-1.6.4.min.js'}" type="text/javascript" charset="${_response_encoding}"></script>
        #{get 'moreScripts' /}

    </head>
    <body>
        <div id="header">
            <div class="wrapper">
                <h1 id="logo"><a href="http://playdoces.appspot.com/">Playframework</a></h1>
            </div>
        </div>

        #{doLayout /}

<div id="footer">
            <div class="wrapper">
                <hr>
                <p class="licence">
                    Demo page for Play framework <a href="http://www.playframework.org/modules/openshift">
                    Openshift module
                    </a>.
                </p>
            </div>
        </div>

    </body>
</html>
